langchain
langchain-google-genai
langchain-community
langchain-core
duckduckgo-search
wikipedia
pydantic
langgraph
langchain-openai
docx2txt
pypdf
unstructured
langchain-tavily
chromadb
sentence-transformers
faiss-cpu
ipython
fastapi
uvicorn
python-multipart
